/**
 * Description
 *		This file contain the CSS for Post Service Review.
 *
 * CHANGE History
 *		Version 1.0  
 *			Initial version copied from avalon-prior-authorization.  
 *		Version 1.1			06/19/2018
 *			Set a constant width for the AUI input fields.
 *		Version 1.2			07/16/2018
 *			Move the constant width for the AUI fields to the theme.
 *
 */

.inactiveLink {
	pointer-events: none;
	cursor: default;
	color:#87CEEB !important;
	text-decoration: none !important;
}

.aui #content  {
		#busy_indicator {
		display: none;
		position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,0.4);
	    z-index: 9999;
	    > img {
	    	position: fixed;
	    	left: 45%;
	    	top: 45%;
	    }
    }
  
	> .container-fluid {
		padding: 0;
		
		> .row-fluid {
			margin-top: 1em;
		}
	}
	
	.procedure-table {
		select {
			@media (max-width: 1200px) {
		   		font-size: 14px;
			}
		}
		
		span.pull-right {
		    margin-right: 1.2%;
    	}
    	
		.row-fluid {
			> div > span {
			    line-height: 30px;
    			vertical-align: middle;
			}
			
			&.row-header {
				span {
					font-size: .9em;
					font-weight: 600;
				}
			}
			
			.span1:first-child {
				width: 1.5%;
			}
			
			.span1:last-child {
				width: 9.5%;
			}
		}
	}
	
	fieldset {
		margin-bottom: 1em;
		
		.layout-content > .row-fluid:last-child div {
			margin-bottom: 0;
		}
	}
	
	.button-holder {
		@media (min-width: 979px) {
			margin: 1em;
		}
		
		button {
			margin-bottom: .5em;
			
			&.pull-right {
				@media (min-width: 768px) {
					margin-left: .5em;
				}
			}
		}
		
		&.no-margin {
			margin-top: 0;
			margin-bottom: 0;
		}
		
		&.btn-divider {
			border-top: 1px solid #e5e5e5;
    		padding-top: 2em;
		}
	}
	
	.control-group {
		> label {
		    margin: 0;
    		padding: 5px 0;
    		
    		> .label-required {
    			color: #5950bd;
    			font-weight: bold;
    		}
    		
    		> .taglib-icon-help > img {
    			margin: -5px 0 0 5px;
    		}
		}
		
		> input, label, select {
			@media (max-width: 1200px) {
				width: 100%;
				font-size: 14px;
			}
		}
		
		> textarea {
			width: 97.5%;
			margin-right: 20px;
		}
	}
}

.portlet-icon-back {
    display: none;
}