
/**
 * Description
 *		This file contain the CSS for Prior Authorization Queue portlet.
 *
 * CHANGE History
 *		Version 1.0  
 *			All of the changes have been merged.  
 *		Version 1.1  
 *			Moved CSS from JSP file.  
 */

th {
	background-color: #424A5F  !important;
	color: white;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

th, td {
	padding: 5px;
}

#queueResults tfoot {
    display: table-row-group;
}

.middle {
	text-align: center;
	width: 100%;
}

.labelClass {
	display: inline-block  !important;
    text-align: right;
}

 input[type="radio"] {
	width: 50px  !important;;
	vertical-align: top;
	margin-top: -1px;
}

.blink_text {
	animation:1s blinker linear infinite;
	-webkit-animation:1s blinker linear infinite;
	-moz-animation:1s blinker linear infinite;
	
	color: red;
}

@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

.aui #content  {
		#busy_indicator {
		display: none;
		position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,0.4);
	    z-index: 9999;
	    > img {
	    	position: fixed;
	    	left: 45%;
	    	top: 45%;
	    }
    }
  
	> .container-fluid {
		padding: 0;
		
		> .row-fluid {
			margin-top: 1em;
		}
	}
	
	.procedure-table {
		select {
			@media (max-width: 1200px) {
		   		font-size: 14px;
			}
		}
		
		span.pull-right {
		    margin-right: 1.2%;
    	}
    	
		.row-fluid {
			> div > span {
			    line-height: 30px;
    			vertical-align: middle;
			}
			
			&.row-header {
				span {
					font-size: .9em;
					font-weight: 600;
				}
			}
			
			.span1:first-child {
				width: 1.5%;
			}
			
			.span1:last-child {
				width: 9.5%;
			}
		}
	}
	
	fieldset {
		margin-bottom: 1em;
		
		.layout-content > .row-fluid:last-child div {
			margin-bottom: 0;
		}
	}
	
	.button-holder {
		@media (min-width: 979px) {
			margin: 1em;
		}
		
		button {
			margin-bottom: .5em;
			
			&.pull-right {
				@media (min-width: 768px) {
					margin-left: .5em;
				}
			}
		}
		
		&.no-margin {
			margin-top: 0;
			margin-bottom: 0;
		}
		
		&.btn-divider {
			border-top: 1px solid #e5e5e5;
    		padding-top: 2em;
		}
	}
	
	.control-group {
		> label {
		    margin: 0;
    		padding: 5px 0;
    		
    		> .label-required {
    			color: #5950bd;
    			font-weight: bold;
    		}
    		
    		> .taglib-icon-help > img {
    			margin: -5px 0 0 5px;
    		}
		}
		
		> input, label, select {
			@media (max-width: 1200px) {
				width: 100%;
				font-size: 14px;
			}
		}
		
		> textarea {
			width: 97.5%;
			margin-right: 20px;
		}
	}
}
