 /**
  * Description
  *		This file contain the CSS for Trial Claim and Research Decision.
  *
  * CHANGE History
  * 	Version 1.0
  *			Initial version
  * 	Version 1.1
  *			Center table text.
  */

.form-control {
	width: 35vw !important;
}

input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
}

.cbLabel {
	padding-left: 10px;
}
 
.panelClass {
	border-left-style: none  !important;
	border-right-style: none !important;
}

th, td {
	padding: 5px;
	border: 1px solid #ddd !important;
}

.textCenter{
	text-align: center  !important;
}

input.diagnosisCodes {
	width: 98%;
}

input.procedureCodes {
	width: 95%;
}

input.procedureUnits {
	width: 75%;
}

input.modifierCodes {
	width: 95%;
}

th {
	vertical-align: middle !important;
	background-color: #BFBFBF;
}

.hide_row {
	background-color: #F2F2F2;
}


.hideDiagRow, .hideAddDiagButton {
	display: none !important;
}

.showDiagRow, .extraDiagdataRow {
	
}

.diagnosis-table label {
	display: none !important;
}

.diagSize {
	width: 98% !important;
}

.pDate {
	width: 135px !important;
}

.pCode {
	width: 60px !important;
}

.pDesc {
	width: 95% !important;
}

.pMod {
	width: 20px !important;
}

.pPlace {
	width: 60px !important;
}

.pRevcode {
	width: 60px !important;
}

.pDiag {
	width: 75px !important;
}

.pUnit {
	width: 40px !important;
}

.pAction {
	
}

.hideMemberInfo {
	display: none !important;
}

.bigger {
	font-size:125%;
}

.aui #content  {
		#busy_indicator {
		display: none;
		position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,0.4);
	    z-index: 9999;
	    > img {
	    	position: fixed;
	    	left: 45%;
	    	top: 45%;
	    }
    }
  
	> .container-fluid {
		padding: 0;
		
		> .row-fluid {
			margin-top: 1em;
		}
	}
	
	fieldset {
		margin-bottom: 1em;
		
		.layout-content > .row-fluid:last-child div {
			margin-bottom: 0;
		}
	}
	
	.button-holder {
		@media (min-width: 979px) {
			margin: 1em;
		}
		
		button {
			margin-bottom: .5em;
			
			&.pull-right {
				@media (min-width: 768px) {
					margin-left: .5em;
				}
			}
		}
		
		&.no-margin {
			margin-top: 0;
			margin-bottom: 0;
		}
		
		&.btn-divider {
			border-top: 1px solid #e5e5e5;
    		padding-top: 2em;
		}
	}
	
	.control-group {
		> label {
		    margin: 0;
    		padding: 5px 0;
    		
    		> .label-required {
    			color: #5950bd;
    			font-weight: bold;
    		}
    		
    		> .taglib-icon-help > img {
    			margin: -5px 0 0 5px;
    		}
		}
		
		> input, label, select {
			@media (max-width: 1200px) {
				width: 100%;
				font-size: 14px;
			}
		}
		
		> textarea {
			width: 97.5%;
			margin-right: 20px;
		}
	}
}
