/*------------------------------------------
    Typograph configuration
--------------------------------------------*/
/* Font Family */
$ff-default:                          Helvetica, Arial, sans-serif;
$ff-opensans-regular:              	'open_sansregular';
$ff-opensans-bold:                  'open_sansbold';
$ff-opensans-bold_italic:          	'open_sansbold_italic';
$ff-opensans-italic:          	    'open_sansitalic';
$ff-opensans-semibold:              'open_sanssemibold';
$ff-opensans-semibold_italic:      	'open_sanssemibold_italic';
$ff-opensans-light:       	        'open_sanslight';
$ff-opensans-light_italic:          'open_sanslight_italic';


/* Font Size  */
$fs-8:							    8px;
$fs-10:							    10px;
$fs-11:							    11px;
$fs-12:							    12px;
$fs-13:							    13px;
$fs-14:							    14px;
$fs-15:							    15px;
$fs-16:							    16px;
$fs-17:							    17px;
$fs-19:					    		19px;
$fs-18:					    		18px;
$fs-20:					    		20px;
$fs-22:					    		22px;
$fs-24:					    		24px;
$fs-26:					    		26px;
$fs-28:					    		28px;
$fs-30:					    		30px;
$fs-32:					    		32px;
$fs-34:					    		34px;
$fs-36:					    		36px;
$fs-38:					    		38px;
$fs-40:					    		40px;
$fs-42:					    		42px;
$fs-44:					    		44px;
$fs-52:					    		52px;
$fs-56:					    		56px;



/*------------------------------------------
    Color palette
--------------------------------------------*/
/* Primary Color */
$pc-1:                                #005899;
$pc-2:                                #006699;
$pc-3:                                #6fa8dc;

/* Secondary Color */
$sc-1:                                #853484;
$sc-2:                                #488f06;
$sc-3:                                #b50303;

/* Tertiary Color */
$tc-1:                                #000000;
$tc-2:                                #333333;
$tc-3:                                #898989;
$tc-4:                                #CCCCCC;
$tc-5:                                #f2f2f2;
$tc-6:                                #ffffff;

$bgprefix: bg-;
$colorprefix: cl-;

/*------------------------------------------
    Color list group
--------------------------------------------*/
$color-list: (
    pc-1    $pc-1,
    pc-2    $pc-2,
    pc-3    $pc-3,
    sc-1    $sc-1,
    sc-2    $sc-2,
    sc-3    $sc-3,
    tc-1    $tc-1,
    tc-2    $tc-2,
    tc-3    $tc-3,
    tc-4    $tc-4,
    tc-5    $tc-5,
    tc-6    $tc-6
);


/*------------------------------------------
    Global Spacing
--------------------------------------------*/
$sp-1:                              0px;
$sp-2:                              5px;
$sp-3:                              10px;
$sp-4:                              15px;
$sp-5:                              20px;
$sp-6:                              25px;
$sp-7:                              30px;
$sp-8:                              35px;
$sp-9:                              40px;

$marginprefix: mg-;
$paddingprefix: pd-;

/*------------------------------------------
    Spacing list group
--------------------------------------------*/
$spacing-list: (
    sp-1    $sp-1   top     right   bottom  left,
    sp-2    $sp-2   top     right   bottom  left,
    sp-3    $sp-3   top     right   bottom  left,
    sp-4    $sp-4   top     right   bottom  left,
    sp-5    $sp-5   top     right   bottom  left,
    sp-6    $sp-6   top     right   bottom  left,
    sp-7    $sp-7   top     right   bottom  left,
    sp-8    $sp-8   top     right   bottom  left,
    sp-9    $sp-9   top     right   bottom  left
);

/*------------------------------------------
    floating variable and width
--------------------------------------------*/
$float-l:          left;
$float-r:         right;
$width-100:        100%;