/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "bourbon";
@import "font";                                 /* @font-face */
@import "custom-variable";                      /* color palette, typography[Font Family, Font Size], Spacing */
@import "custom-mixin";                         /* define custom mixin */

/*---------------
    Root start
---------------*/
.kw{
    @import "global";                           /* global element css */
    
	#wrapper {
        @import "header";                       /* Header element css */
        @import "user-navigation";            	/* User navigation css */
        @import "multi-level-navigation";       /* portal navigation with navigation responsive behaviour */
        @import "footer";                       /* Footer element css */
        @import "dataTables";            	    /* Datatable css */
   }
}
/*---------------
    Root end
---------------*/

/*------------------
    Custom Changes
------------------*/
.control-label {
	width: 170px;
	-webkit-margin-after: 10px;
}

.form-control {
	width: 25vw !important;
	-webkit-margin-after: 10px;
}

.note-control {
	width: 74vw !important;
}

#ua-container {
	text-align: center;
    min-height: 200px;
	background-color: rgba(0,154,229,0.2);
    border: 1px solid rgba(0,154,229,0.25);
    border-radius: 6px 6px 0 0;
    margin-top: 3em;
    width: 100%;
    max-width: 280px;
    float: right;

	.ua-header {    
		background-color: rgba(0,154,229,0.2);
		margin: 0;
		height: 100%;
		
		h3 {
			background-color: rgba(0,154,229,0.25);
			margin: 0;
			letter-spacing: 0.05em;
			font-size: 1.2em;
			line-height: 44px;
		}
	}
	
	.ua-body {
		height: 100%;
		
	    a {
	    	display: block;
	    	background-color: #fbfbfb;
	    	text-align: center;
		    font-weight: bold;
		    color: rgba(0,0,0,0.65);
	    	padding: 1em;
		    margin: 2em 3em;
	    	border: 1px solid rgba(0,0,0,0.25);
	    	box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	    	border-radius: 4px;
	    }
	}
	
	.ua-footer {
	    p {
		    font-size: .8em;
	  		font-style: italic;
	  		padding: 1.5em 2.8em;
	  		padding-top: 0;
	 	}
	}
}
