.footer-sec{
    @extend .bg-tc-5;
    padding: 41px 0 42px 0;

    .footer-sec__text{

        text-align: center;
        @extend .cl-tc-1;
        
        p{

            @extend .fs-11;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: .0625em;
            word-spacing: .25em;
            font-family: $ff-default;
        }
		
    }/* .footer-sec__text End */
    
}/* .footer-sec End */