body{
	font-family: $ff-opensans-regular;
	font-size: $fs-14;
	/*background-color: $tc-5;*/
    color: $tc-2;
    min-width: 1200px;

    &.hide_docbar{
	
		#ControlMenu, .lfr-product-menu-panel.sidenav-fixed.sidenav-menu-slider{
		
			display: none;
			
		}/* #ControlMenu, .lfr-product-menu-panel.sidenav-fixed.sidenav-menu-slider End */
		
		&.open #wrapper{
		
			padding-left: 0px;
			
		}/* &.open #wrapper End */
		
		&.has-control-menu #wrapper{
		
			margin-top: 0;
			
		}/* &.has-control-menu #wrapper End */
		
	}/* &.hide_docbar End */
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.jconfirm-box-container {
    width: 100%;
    margin: 0;
}


#wrapper {
    /*padding: 0px;*/
    padding-top: 0;
	
	#main-content{

        @extend .pd-top-sp-7;

    }/* #main-content End */
    
    .portlet-barebone{
	
        .portlet{
            @extend .mg-bottom-sp-1;
        }
        
    }/* .portlet-barebone End */

    a
    {
        text-decoration:none !important;
        color : $pc-2;

        &:hover,
        &:focus {
            color : $pc-1;
        }
    }
    
    * {
        -moz-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        -webkit-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
    }


    .fs-8 {
        font-size: $fs-8;
    }
    .fs-10 {
        font-size: $fs-10;
    }
    .fs-11 {
        font-size: $fs-11;
    }
    .fs-12 {
        font-size: $fs-12;
    }
    .fs-13 {
        font-size: $fs-13;
    }
    p, .fs-14 {
        font-size: $fs-14;			/*Default Text Size and Paragraph*/
    }
    .fs-15 {
        font-size: $fs-15;
    }
    .fs-16 {
        font-size: $fs-16;
    }
    .fs-17 {
        font-size: $fs-17;
    }
    .fs-18 {
        font-size: $fs-18;  
    }
    h6, .fs-19 {
        font-size: $fs-19;			/*H6 Text Size*/
    }
    h5, .fs-20 {
        font-size: $fs-20;          /*H5 Text Size*/
    }
    h4, .fs-22 {
        font-size: $fs-22;			/*H4 Text Size*/
        font-weight: 700;
        line-height: 1.6em
    }
    .fs-24 {
        font-size: $fs-24;
    }
    h3, .fs-26 {
        font-size: $fs-26;			/*H3 Text Size*/
        font-weight: 700;
        line-height: 1.8em			
    }
    .fs-28 {
        font-size: $fs-28;
    }
    h2, .fs-30 {
        font-size: $fs-30;			/*H2 Text Size*/
        font-weight: 700;
        line-height: 2em
    }
    .fs-32 {
        font-size: $fs-32;
    }
    .fs-34 {
        font-size: $fs-34;
    }
    h1, .fs-36 {
        font-size: $fs-36;			/*H1 Text Size*/
        font-weight: 300;
        line-height: 2.4em
    }
    .fs-38 {
        font-size: $fs-38;
    }
    .fs-40 {
        font-size: $fs-40;
    }
    .fs-42 {
        font-size: $fs-42;
    }
    .fs-44 {
        font-size: $fs-44;
    }
    .fs-52 {
        font-size: $fs-52;
    }
    .fs-56 {
    	font-size: $fs-56;
    }
    
    h1{
        font-family: $ff-opensans-bold;
    }
    
    h1, h2, h3, h4, h5, h6{
        
    }

    .portlet-title-text{
        font-size: 26px;
        line-height: 1.8em
    }

    p{
        margin-bottom: $sp-4;
        line-height: 1.57;
        font-weight: 300;
        font-size: 20px;
        line-height: 2em;
        margin-bottom: 1.4em
    }

    p.small {
        font-size: 1.2em
    }
    
    p.x-small {
        font-size: 1.1em
    }
    
    p.xx-small {
        font-size: 1em
    }

    ul, ol{
	
		list-style: none;
		margin: 0;
		padding: 0;
		
        li{

        }

    }

    .left {
        float: left
    }
    
    .right {
        float: right
    }
    
    .center {
        text-align: center
    }
    
    .hide {
        display: none
    }
    
    .z-index {
        position: relative
    }
    
    .z-index.level-1 {
        z-index: 1
    }
    
    .z-index.level-2 {
        z-index: 2
    }

    /* Generate dynamic background and color calsses */
    @each $value in $color-list {
        
        .#{$bgprefix}#{nth($value, 1)} {
            background: nth($value, 2);
        }
    
        .#{$colorprefix}#{nth($value, 1)} {
            color: nth($value, 2);
        }
        
    }

    /* Generate dynamic margin and padding calsses */
    @each $value in $spacing-list {
        
        /* marging class */
        .#{$marginprefix}#{nth($value, 1)} {
            margin: nth($value, 2);
        }

        .#{$marginprefix}#{nth($value, 3)}-#{nth($value, 1)} {
            margin-#{nth($value, 3)}: nth($value, 2);
        }
    
        .#{$marginprefix}#{nth($value, 4)}-#{nth($value, 1)} {
            margin-#{nth($value, 4)}: nth($value, 2);
        }

        .#{$marginprefix}#{nth($value, 5)}-#{nth($value, 1)} {
            margin-#{nth($value, 5)}: nth($value, 2);
        }

        .#{$marginprefix}#{nth($value, 6)}-#{nth($value, 1)} {
            margin-#{nth($value, 6)}: nth($value, 2);
        }
        
        /* padding class */
        .#{$paddingprefix}#{nth($value, 1)} {
            padding: nth($value, 2);
        }

        .#{$paddingprefix}#{nth($value, 3)}-#{nth($value, 1)} {
            padding-#{nth($value, 3)}: nth($value, 2);
        }
    
        .#{$paddingprefix}#{nth($value, 4)}-#{nth($value, 1)} {
            padding-#{nth($value, 4)}: nth($value, 2);
        }

        .#{$paddingprefix}#{nth($value, 5)}-#{nth($value, 1)} {
            padding-#{nth($value, 5)}: nth($value, 2);
        }

        .#{$paddingprefix}#{nth($value, 6)}-#{nth($value, 1)} {
            padding-#{nth($value, 6)}: nth($value, 2);
        }
        
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border: 1px solid $tc-4;
    }

    .portlet-border .portlet {

        border: solid 5px $pc-3;

    } /* .portlet-border .portlet end */

    .portlet-borderless .portlet-title-text, .page-title .page-title-text{

        font-size: 2em;
        margin-bottom: .2em;
        font-weight: bold;
        font-family: $ff-default;
        margin-top: 0;

    } /* .portlet-borderless .portlet-title-text, .page-title .page-title-text end */

    .row-header{

        margin-bottom: 10px;

    } /* .row-header end */

    .modal-dialog{

        .modal-header{

            h3{

                margin: 0;

            } /* h3 end */

            .close{

                margin: 0 20px 0 0;

            } /* .close end */

        } /* .modal-header end */

        .modal-body {

            max-height: 350px;

        } /* .modal-body end */

    } /* .modal-dialog end */
	
	@media(min-width: 768px) {
		.button-holder button.pull-right {
			margin-left:.5em
		}
	}
	
	.btn-gray{
		background: #ddd;
	}
    
} /* #wrapper end */
