.dropdown-menu{
    overflow: inherit;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
}

.dropdown-submenu.open>.dropdown-menu {
    display: block;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.cus-main-navigation{

    .portlet-barebone .portlet-content {
        padding: 0;
        border: 0;
    }
    
    @extend .bg-pc-1;

    .nav.navbar-nav{
        
        
        > li > a{
            @extend .fs-14;
            font-family: $ff-opensans-regular;
            @extend .cl-tc-6;
            text-transform: capitalize;
            padding: 13px 22px;
            
            &:hover, &:focus{
                @extend .cl-tc-6;
                @extend .bg-sc-1;
            }
            
            .lfr-nav-child-toggle{
                display: none;
                
            }
        }

        > li.open, > li.hover{
            > a{
                @extend .cl-tc-6;
                @extend .bg-sc-1;
                
                &:hover, &:focus{
                    @extend .cl-tc-6;
                    @extend .bg-sc-1;
                }

            }
        }
        
        > li.selected.active{

            > a
            {
                @extend .bg-sc-1;
            }

            .dropdown-menu > li.selected.active > a,
            .dropdown-menu > li.selected.active{
                @extend .bg-tc-5;
            }

            > .dropdown-menu > li.selected.active.hover,
            > .dropdown-menu > li.selected.active.open
            {
                @extend .bg-tc-5;
            }
        }
        
        .dropdown-menu{
            min-width: 165px;
            border: 0 none;
            //border-bottom: 5px solid $pc-2;
            padding: 0;
            @include border-radius(0);
            @include box-shadow(2.5px 4.3px 15px 0 rgba(0, 0, 0, 0.2));
            max-height: initial;       
            
            
            a{
                @extend .fs-14;
                font-family: $ff-opensans-semibold;
                @extend .cl-sc-1;
                @include border-radius(0);
                //text-transform: capitalize;
                padding: 15px 40px 15px 20px;
                @extend .bg-tc-6;
                

                position: relative;

                .lfr-nav-child-toggle{
                    //float: right;
                    color: $pc-1;
                    @extend .fs-10;
                    margin-top: 4px;
                    position: absolute;
                    top: 10px;
                    right: 15px;
                }
            }

            .open a, .open a:hover, .open a:focus,
            .hover a, .hover a:hover, .hover a:focus,
            a:hover, a:focus
            {
                    @extend .cl-pc-1;
                    //@extend .bg-pc-3;
                    //border-left: 5px solid $sc-1;
                    //@include transition(border-left 0.2s ease-in);
                    //background : none;
            }
            
            .dropdown-menu a,
            .dropdown-menu a:hover,
            .dropdown-menu a:focus{
                background: transparent;
            }

            li{
                border-bottom: 1px solid $tc-4;
                //padding-left: 5px;
                @extend .bg-tc-6;
            }

            li.open,
            li.hover
            {
                    //@extend .bg-pc-3;
                    //@include transition(background 0.2s ease-in);
            }

            > li:last-child{
                border-bottom: none;
            }

            .dropdown-menu{
                border-bottom: none;
                min-width: 245px;
                padding: 0;

                a{
                    padding: 11px 15px 10px 35px;
                    border-left: none;
                    @extend .cl-tc-1;
                    border-bottom: 1px dotted $tc-4;
                    position: relative;

                    &:before{
                        position: absolute;
                        font-family: 'kicon' !important;
                        content: "\e90f";
                        left: 15px;
                        top: 50%;
                        font-size: $fs-8;
                        margin-top: -5px;
                    }
                }

                li{
                    border-bottom-style: dotted;
                    border-left: none;
                    //@extend .bg-tc-6;
                    padding-left: 0;
                    border: none;
                }

                > li:last-child, > li:last-child a{
                    border-bottom: none;
                }

                .open a, .open a:hover, .open a:focus,
                .hover a, .hover a:hover, .hover a:focus,
                //.active a, .active a:hover, .active a:focus,
                //.selected a, .selected a:hover, .selected a:focus,
                a:hover, a:focus
                {
                    border-left: none;
                    @extend .cl-pc-1;
                    background: $pc-3;
                }
            }

            
        }
        
        > li > .dropdown-menu{
            
            > .open > a, > .open > a:hover, > .open > a:focus,
            > .hover > a, > .hover > a:hover, > .hover > a:focus,
            > li > a:hover, > li > a:focus
            {
                    @extend .cl-sc-1;
                    @extend .bg-tc-5;
            }
        }
    }
}
