.user-noti-section .portlet-topper{
    z-index: 1052;
}

.custom-user{

    padding-top: 6px;
    padding-bottom: 5px;
    margin: 0;
    min-width: 239px;
    float: left;
    margin-left: 15px;
    max-width: 239px;

    .btn-profile{

        padding: 0;
        border: 0;
        text-decoration: none;

        &:hover, &:focus{

            text-decoration: none;

        } /* &:hover, &:focus end */

    } /* .btn-profile end */

    
    
    .user-img{

        width: 48px;
        float: left;
        margin-right: 10px;

        .user-icon {
            
            @include border-radius(100%);
            font-size: 14px;
            height: 48px;
            line-height: 48px;
            width: 48px;
            overflow: hidden;

        } /* .user-icon end */

    } /* .user-img end */

    .user-info{
        width: calc(100% - 78px);
        float: left;
        text-align: left;

        .name{

            @extend .cl-pc-1;
            width: 160px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            margin-bottom: 5px;
            white-space: nowrap;
            font-size: 14px;
            line-height: normal;
            margin-top: 5px;

        } /* .name end */

        .designation{
            
            @extend .cl-tc-1;
            width: 160px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            font-size: 12px;
            white-space: nowrap;

        } /* .designation end */

    } /* .user-info end */

    .dropdown-arrow{

        width: 20px;
        //height: 20px;
        @extend .cl-tc-1;
        float: right;
        text-align: center;
        line-height: 48px;
        display: block;
        
    } /* .dropdown-arrow end */

    .user-dropdown{
        width: 100%;
        padding: 10px 0 10px 0;
        border: 0;
        //border-bottom: 5px solid $sc-1;
        @include border-radius(0 0 3px 3px);
        margin: 0;

        li{

            a{
                
                padding: 10px 20px;
                display: block;
                clear: both;
                white-space: nowrap;
                padding: 6px 10px;
                @extend .cl-sc-1;
                text-decoration: none;

                &:hover, &:focus{

                    @extend .cl-sc-1;
                    @extend .bg-tc-5;
                    text-decoration: none;

                } /* &:hover, &:focus end */

            } /* a end */

        } /* li end */

    } /* .user-dropdown end */

    .dropdown-backdrop{

        display: none;

    } /* .dropdown-backdrop end */


} /* .custom-user end */

