table,td,th {
	border: 1px solid black;
}

th {
	color: white;
}

thead {
	background-color: #424a5f;
}

.tableheading {
	position: relative;
	font-size: large;
	padding-top: 17px;
}

.tableheading p {
	color: black;
}

#lbmClmParent {
	left: 0px;
	top: 0px;
	height: auto;
	width: 900px;
	position: relative;
	margin: auto;
}

#advanceSearch {
	background: #DCE3EC; /* Standard syntax (must be last) */
	left: 0px;
	top: 0px;
	height: 570px;
	width: 900px;
	position: relative;
	margin: auto;
	border-radius: 10px;
	box-shadow: 7px 7px 5px #888888;
}

#basicSearch {
	background: #DCE3EC; /* Standard syntax (must be last) */
	left: 0px;
	top: 0px;
	height: 276px;
	width: 900px;
	position: relative;
	margin: auto;
	border-radius: 10px;
	box-shadow: 7px 7px 5px #888888;
}

#memberInfoSearch {
	background: #DCE3EC; /* Standard syntax (must be last) */
	left: 0px;
	top: 0px;
	height: 233px;
	width: 900px;
	position: relative;
	margin: auto;
	border-radius: 10px;
	box-shadow: 7px 7px 5px #888888;
}

#page-EachNavigator-sub {
	padding: 5px 0 5px 0;
}

#lbmClmParent .heading {
	padding-top: 20px;
	color: black;
	font-family: arial;
	font-size: large;
	font-weight: bold;
	/*  font-variant: small-caps;	*/
	/*  text-transform: capitalize;	*/
	text-align: center;
}

#lbmClmParent .heading1 {
	padding-top: 10px;
	color: black;
	font-family: arial;
	font-size: large;
	font-weight: bold;
	/*  font-variant: small-caps;	*/
	/*  text-transform: capitalize;	*/
	text-align: center;
}

#s-head p,#navigator-main p {
	color: black;
	font-family: arial;
	font-size: large;
	font-weight: bold;
	/* font-variant: small-caps;	*/
	/* text-transform: capitalize;	*/
	padding-bottom: 10px;
	text-align: center;
}

#navigator-main {
	height: 110px;
	border: 1px solid #424a5f;
	border-radius: 5px;
	left: 10px;
	position: relative;
	width: 880px;
	margin-top: 15px;
	padding-top: 10px;
}

#lbmClmParent label {
	color: black;
	font-family: arial;
	font-size: medium;
	font-weight: bold;
	/* font-variant: small-caps;	*/
	/* text-transform: capitalize;	*/
	float: left;
	width: 175px;
	text-align: right;
	margin-right: 12px;
	margin-top: 4px;
}

#lbmClmParent input {
	background-color: none;
	border: 1px solid #008000;
	width: 160px;
	height: 19px;
}

.page-EachNavigator {
	position: relative;
	top: 0;
	padding: 10 0 0 10px;
	width: 875px;
	border: 1px solid #424a5f;
	height: 280px;
	margin-top: 20px;
	left: 5px;
	border-radius: 5px;
}

.left-page-EachNavigator {
	position: relative;
	width: 400px;
	float: left;
	top: 0px;
	padding: 5px 0px 0px 5px;
}

.right-page-EachNavigator {
	position: relative;
	width: 400px;
	float: right;
	top: 0px;
	padding: 5px;
}

#clmSrchBtns {
	height: 50px;
	position: relative;
	float: right;
	clear: right;
	margin-right: 35px;
}

#clmSrchBtns label {
	position: relative;
	float: left;
	width: 112px;
	text-align: center;
	height: 28px;
	padding-top: 8px;
	border-radius: 10px;
	background-color: #424a5f;
	border: 1px solid greenyellow;
	font-weight: bold;
	color: #FFF;
	margin-right: 35px;
	box-shadow: 5px 5px 2px #888888;
}

#clmSrchBtns label:hover {
	border: 1px solid #118ade;
}

#member {
	position: relative;
	left: 194px;
	padding-top: 12px;
	width: 600px;
}

#member1 {
	left: 18px;
	position: relative;
	padding-top: 15px;
	width: 400px;
}

#member2 {
	position: relative;
	right: 30px;
	margin-top: -36px;
	width: 400px;
	float: right;
}

.mainlabel {
	left: 100px;
	position: relative;
}

#toggleBtnAdv {
	position: relative;
	left: 700px;
	text-decoration: underline;
	color: blue;
	cursor: pointer;
	top: 25px;
}

#toggleBtnBasic {
	position: relative;
	left: 700px;
	text-decoration: underline;
	color: blue;
	cursor: pointer;
	top: 25px;
}

#page-EachNavigator-subM {
	position: relative;
	left: 194px;
	padding-top: 12px;
	width: 600px;
}

.mainButtons {
	height: 50px;
	position: relative;
	float: right;
	clear: right;
	margin-right: 90px;
	padding-top: 10px;
}

.mainButtonssearch {
	height: 50px;
	position: relative;
	float: right;
	clear: right;
	margin-right: 90px;
	padding-top: 0px;
}

.mandatory {
	color: red;
}

.ui-tooltip {
	border-width: 6px;
	border-color: #FF8080;
	background-color: white;
}

.ui-tooltip-content {
	font-size: small;
	font-weight: 100;
	color: red;
}

.middle {
	color: black;
	font-size: medium;
	font-weight: bold;
	padding-top: 2px;
}