.aui #content  {
		#busy_indicator {
		display: none;
		position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,0.4);
	    z-index: 9999;
	    > img {
	    	position: fixed;
	    	left: 45%;
	    	top: 45%;
	    }
    }
}

.button-holder {
	@media (min-width: 979px) {
		margin: 1em;
	}
	
	button {
		margin-bottom: .5em;
		
		&.pull-right {
			@media (min-width: 768px) {
				margin-left: .5em;
			}
		}
	}
	
	&.no-margin {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	&.btn-divider {
		border-top: 1px solid #e5e5e5;
   		padding-top: 2em;
	}
}

.memCls {
	color: black;
	text-decoration: underline !important;
	cursor: pointer;
}

input [type=text]::-ms-clear {
	display: none;
	width: 0px;
	height: 0px;
}

input [type=text]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

.mandatory {
	color: red;
}

.show_hideorder {
	color: red;
}

.clear-both {
	clear: both;
}

.errmsg {
	margin-bottom: 5px;
}

.col-fstRow {
	position: relative;
	float: left;
	margin-right: 10px;
	left: 147px;
	width: 550px;
}

.col-eachDivDet {
	position: relative;
	float: left;
	margin-right: -40px;
	width: 350px;
}

.col-eachDivWidth {
	width: 175px;
}

.hidedisplayheader {
	display:none;
}

th {
	background-color: #424A5F  !important;
	color: white;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

th, td {
	padding: 5px;
}

.prorAuth-borderRow {
	width: 98%;
	border-bottom: 1px solid black;
	height: 20px;
	margin-right: 0px !important;
	margin-left: 0px !important;
	left: 1%;
	position: relative;
}

.blink_text {

animation:1s blinker linear infinite;
-webkit-animation:1s blinker linear infinite;
-moz-animation:1s blinker linear infinite;

 color: red;
}

@-moz-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@-webkit-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }
 
