.aui #content  {
		#busy_indicator {
		display: none;
		position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,0.4);
	    z-index: 9999;
	    > img {
	    	position: fixed;
	    	left: 45%;
	    	top: 45%;
	    }
    }
}

input [type=text]::-ms-clear {
	display: none;
	width: 0px;
	height: 0px;
}

input [type=text]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

.mandatory {
	color: red;
}

.show_hideorder {
	color: red;
}

.clear-both {
	clear: both;
}

.errmsg {
	margin-bottom: 5px;
}

.col-fstRow {
	position: relative;
	float: left;
	margin-right: 10px;
	left: 147px;
	width: 550px;
}

.col-eachDivDet {
	position: relative;
	float: left;
	margin-right: -40px;
	width: 350px;
}

.col-eachDivWidth {
	width: 175px;
}

th {
	background-color: #424A5F  !important;
	color: white;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

th, td {
	padding: 5px;
}

.prorAuth-borderRow {
	width: 98%;
	border-bottom: 1px solid black;
	height: 20px;
	margin-right: 0px !important;
	margin-left: 0px !important;
	left: 1%;
	position: relative;
}

.blink_text {
	animation:1s blinker linear infinite;
	-webkit-animation:1s blinker linear infinite;
	-moz-animation:1s blinker linear infinite;
	
	 color: red;
}

@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

